<!-- Modal -->
<div class="modal fade modalProjet" id="modalArticle{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{ article.nom }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4> 
            {{ article.etablissement.nom }}
        </h4>
        <div class="modal-img-header">
            {% for image in article.images %}
                <img class="img-fluid rounded-start " width="100%"  src="{{ asset('/telechargement/' ~ image.nom) }}" alt="Image de larticle" >
            {% endfor %}
        </div>
        <p class="modal-text text-muted"> 
            Du {{ article.dateDebut ? article.dateDebut|date('d M Y H:i')|format_datetime('medium','none',locale='fr') : '' }} 
            au {{ article.dateFin ? article.dateFin|date('d M Y H:i')|format_datetime('medium','none',locale='fr') : '' }}
        </p>
        <p class="modal-text"> {{ article.description }} </p>
        <div class="modal-icon">
            {% if article.links.web is not empty %}
                <a href="{{ article.links.web}}" class="link-web" target="_blank" ><div><i class="bi bi-globe"></i></div></a>
            {% endif %}
            {% if article.links.github is not empty %}
                <a href="{{ article.links.github}}" class="link-github" target="_blank" ><div><i class="bi bi-github"></i></i></div></a>
            {% endif %}
            {% if article.links.video is not empty %}
              <a href="{{article.links.video}}" class="link-video" target="_blank"> <div><i class="bi bi-play-circle-fill"></i></i></i></div></a>
            {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}
      </div>
    </div>
  </div>
</div>
