{% extends 'base.html.twig' %}

{% block title %}CV WASEF{% endblock %}

{% block body %}
<div id="content" class="container p-0">
<div class="profile-header">
    <div class="profile-header-cover">  
    </div>
    <div class="profile-header-content">
        <div class="profile-header-img">
            <img src="{{ asset('./images/profil.jpg') }}" alt="WASEF Alexandra" />
        </div>
        <div class="profile-header-info">
        
            <div class="mt-4"> </div>
            <h4 class="m-t-sm">WASEF Alexandra</h4> 
            <p class="m-b-sm">Développeuse Web & Chef de projet</p>
            <div class="mb-5"> </div>
           
          <!--  <a href="#" class="btn btn-xs btn-pink mb-4">Contactez-moi</a>!-->
        </div>
    </div>

    <ul class="profile-header-tab nav nav-tabs">
        <li class="nav-item"><a href="#projet" class="nav-link" data-toggle="tab">PROJET</a></li>
        <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">À PROPOS</a></li>
        <li class="nav-item"><a href="#profile-photos" class="nav-link " data-toggle="tab">PHOTOS</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link" data-toggle="tab">CONTACT</a></li>
    </ul>
</div>

 <!-- CARTES PROJETS -->
<div class="profile-container">
    <div class="row row-space-20">
        <div class="col-md-8">
            <div class="tab-content p-0">
                <div class="tab-pane" id="profile-photos">
                    <p>Photo</p>
                </div>
                <div class="tab-pane active show" id="projet">
                        {% for article in articles|sort((a, b) => b.dateFin <=> a.dateFin) %}
                            <div class="zoom">
                                <div class="card mb-3 pointer" data-bs-toggle="modal" data-bs-target="#modalArticle{{article.id}}">
                                    <div class="row g-0" >
                                        <div class="col-md-5">
                                            <div class="img-header">
                                            {% for image in article.images %}
                                                <img class="img-fluid rounded-start " width="100%"  src="{{ asset('/telechargement/' ~ image.nom) }}" alt="Image de larticle" >
                                            {% else %}
                                                <td>No image</td>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-7" >
                                            <div class="card-body">
                                            <h3 class="card-title">{{ article.nom }}</h3>
                                            <p class="card-text"><small class="text-muted"> {{article.etablissement.nom}} </small></p>
                                            <p class="card-text"><small class="text-muted">Du {{ article.dateDebut ? article.dateDebut|date('d M Y H:i')|format_datetime('medium','none',locale='fr') : '' }} au {{ article.dateFin ? article.dateFin|date('d M Y H:i')|format_datetime('medium','none',locale='fr') : '' }} </small></p>
                                            <p class="card-text">{{ article.description|striptags|length > 100 ? article.description|striptags|slice(0, 100) ~ '....' : article.description|striptags  }}</p>
                                            <!--<a  href="{{ path('article_edit', {'id': article.id}) }}">edit</a>!-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ include('article/_modal.html.twig') }}
                        {% else %}
                            <p>Aucun articles pour le moment ...</p>
                        {% endfor %}
            
                </div>                    
            </div>
        </div>
        <!-- INFORMATIONS PERSONELLES -->
        <div class="col-md-4 hidden-xs hidden-sm">
            <ul class="profile-info-list" id="profile-about">
                <li class="title">INFORMATIONS PERSONELLES</li>
                <li>
                    <div class="field">Occupation:</div>
                    <div class="value">Développeuse Web et Chef de projet</div>
                </li>
                <li>
                    <div class="field">Compétences:</div>
                    <div class="value">PHP, HTML5, CSS, javascripts, Python, jQuery, MYSQL, Symfony, Bootstrap, Angular JS, Docker, React JS, Node JS</div>
                </li>
                <li>
                    <div class="field">Date de naissance:</div>
                    <div class="value">05/09/2001</div>
                </li>
                <li>
                    <div class="field">Pays:</div>
                    <div class="value">France</div>
                </li>
                <li>
                    <div class="field">Addresse:</div>
                    <div class="value">
                        <address class="m-b-0">
                            Résidence des lignières<br />
                            TAVERNY, 95150
                        </address>
                    </div>
                </li>
                <li>
                    <div class="field">Numèro de télephone:</div>
                    <div class="value">
                        06 52 07 68 14
                    </div>
                </li>
                <li>
                    <div class="field">Réseaux:</div>
                    <li class="img-list">
                            <a href="https://github.com/wasef81194" target="_blank" class="m-b-5"><img src="{{ asset('images/github.png') }}" alt="Github" /></a>
                            <a href="https://www.linkedin.com/in/alexandra-wasef-95b1a91a7/" target="_blank" class="m-b-5"><img src="{{ asset('images/linkedin.png') }}" alt="Github" /></a>
                    </li>
                </li>
              
               
            </ul>
        </div>
    </div>
</div>

    <a href="{{ path('article_new') }}">Create new</a>
    <!-- page contact form -->
    
    <div class="contact card" id="contact" style="margin-bottom:100px;">
        <h1>Contactez-moi</h1>
        {{ include('article/contact_form.html.twig') }}
    </div>
</div>
{% endblock %}
