{% extends 'base.html.twig' %}

{% block title %}{{ article.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-w center" >
            {% for image in article.images %}
            <img src="{{ asset('/telechargement/' ~ image.nom) }}" width="50%"  class="img-card" alt="Image de l'article">
            {% else %}
                <td>No image</td>
            {% endfor %}
        
        <div class="card-body">
            <h5 class="card-title">{{ article.nom }}</h5>
            <p class="card-text"><small class="text-muted"> {{article.etablissement.nom}} </small></p>
            <p class="card-text"><small class="text-muted">De {{ article.dateDebut ? article.dateDebut|date('d-m-Y') : '' }} à {{ article.dateFin ? article.dateFin|date('d-m-Y') : '' }} </small></p>
            <p class="card-text">{{ article.description }}</p>
        </div>
        </div>

        <a href="{{ path('article_index') }}">back to list</a>

        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
